<dl class="mt-6 flex justify-end gap-4 sm:gap-6">
  <button (click)="toggleReply()">Reply</button>
  <button>12 Likes</button>
  <button
    (click)="toggleExpand()"
    class="duration-300"
    [class.rotate-180]="isExpanded"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 8.25-7.5 7.5-7.5-7.5"
      />
    </svg>
  </button>
</dl>
